<section id="call-for-papers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Call for speakers</span></h2>
          <p class="subtitle text-center">
            Would you like to become a speaker or suggest one? Great! This year we are reaching our global community and opening an informal call for speakers. Please, submit your proposals until August 15, 2017 using <a href="#contact">our contact form</a> and include speaker's name, topic, talk description and relevant links.
          </p>
          <p class="subtitle text-center">
            This year's main topics is financial and economic freedom. In talks, we would like to overview worsening financial regulations and economic restrictions including ongoing war on cash and present growing space of unprecedented liberty enabled by anonymous cryptocurrencies, P2P markets, secure communication and tools of decentralization in general.
          </p>
          <p class="subtitle text-center">
            We are also open to other topics and program suggestions that will enrich your congress experience.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <div class="row text-center">
      <a href="#contact" class="btn btn-main-color page-scroll">Use our contact form</a>
    </div>
  </div>
  <!-- /.container -->
</section>
