<section id="about">
  <div class="container">
    <!-- Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>About HCPP18 - New Order</span></h2>
          <p class="subtitle text-center  mrgn-20-top">
            All-out strong polarization.

            Repeating tension between collectivists and individuals.<br>

            This time with a new difference:
            Crypto technologies.  Liberating us.<br>

            Making us entirely responsible for all our decisions.

          </p>
          <p class="subtitle text-center">
            Decentralization, reputation systems, escrow services and anonymization makes the world's economy more efficient.<br>

            The massive adoption of free crypto markets will not be the result of people's need for freedom or privacy. It will be the result of their natural individual preferences.<br>
          </p>
          <p class="subtitle text-center">
            Collectivism is new slavery.

            Crypto-anarchists are new abolitionists.

            Crypto technologies are new arms.
          </p>
          <p class="subtitle text-center">
            The natural order is the new order.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title -->
    <div class="row text-center">
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/discussions.svg" width="76" height="80" alt="Discussions" />
        <h3 class="accent">FREEDOM<br>&amp; CRYPTOANARCHY</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/workshops.svg" width="70" height="80" alt="Workshops" />
        <h3 class="accent">DECENTRALIZED ECONOMY<br>&amp; CRYPTOCURRENCIES</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/exhibitions.svg" width="76" height="80" alt="Exhibitions" />
        <h3 class="accent">POLITICAL ART<br>&amp; HACKING</h3>
      </div>
      <!-- /.Feature -->
      <!-- Feature -->
      <div class="col-md-3 col-sm-6  col-xs-6"> <img src="/media/icons/svgs/ideas.svg" width="49" height="80" alt="Ideas" />
        <h3 class="accent">SCIENCE<br>&amp; TECHNOLOGY</h3>
      </div>
      <!-- /.Feature -->
    </div>
  </div>
  <!-- /.container -->
</section>
