<section id="previous-years">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Previous years</span></h2>
          <p class="subtitle text-center">
            Since the beginning in 2014, the congress brought together hundreds of freedom lovers, technology enthusiasts and artists. <a href="https://www.youtube.com/watch?v=iOU8m0uXvIQ&list=PLGJQS0h-wqLRXOkWM22htNnkBmFldtCQa" target="_blank">Catch a glimpse</a> of its amazing atmosphere or check out <a href="https://liberate.hcpp.cz/" target="_blank">HCPP17 - Liberate!</a>, <a href="https://decentralized.hcpp.cz/" target="_blank">HCPP16 - Decentralized</a>, <a href="http://blackout.hcpp.cz/eng/" target="_blank">HCPP15 - Blackout</a> and <a href="https://www.paralelnipolis.cz/old/308/hackers-congress-paralelni-polis-2014-schedule/" target="_blank">HCPP14</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
