<section id="organizer">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Organizer</span></h2>
          <p class="subtitle text-center">Paralelní Polis is a one-­of-­a-­kind nonprofit organization that brings together art, social sciences, and modern technologies. The ideas of liberty, independence, and innovative thinking and development of society are the main underlying foundations the whole project is built upon.<br>&bull;
          </p>
          <p class="subtitle text-center">The project intends to remain state free as it operates entirely without support from the government, and most of the funds come from voluntary contributions of our donors and partly from commercial activities such as running a unique co­working space and the world's first bitcoin-­only cafe.<br>&bull;
          </p>
          <p class="subtitle text-center">It was founded by members of a contemporary-­art group Ztohoven, and Slovak and Czech hacker­spaces. Its main goal is to promote economic, social and digital freedom. We try to be a vocal voice of freedom in order to shape the public discourse, and ultimately work towards a freer future.
          </p>
          <p class="text-center">
            <img src="/media/logo/polis-logo.png" alt="" />
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
