<section id="partners">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Partners</span></h2>
          <p class="subtitle text-center">Official partners of this year's Hackers Congress Paralelní Polis</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Partners List -->
    <h3 class="text-center"><span>Main Partners</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://trezor.io/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/logo-trezor.png" alt="Trezor" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.generalbytes.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/generalbytes.png" alt="General Bytes" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://slushpool.com/home" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/slush-pool-logo.png" alt="Slush Pool" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://bitcoinpay.com" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/bitcoinpay.png" alt="Bitcoinpay" />
        </a>
      </div>
    </div>

    <h3 class="text-center mrgn-50-top"><span>Cryptopuzzle partners</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-3 mrgn-20-top">
        <a href="http://satori.sk/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/satori.png" alt="Satori" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://nethemba.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/nethemba.png" alt="Nethemba" />
        </a>
      </div>
    </div>

    <h3 class="text-center mrgn-50-top"><span>News live broadcasting partner</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-2 col-sm-offset-5 mrgn-20-top">
        <a href="http://www.worldcryptonetwork.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/logo-wcn.png" alt="World Crypto Network" />
        </a>
      </div>
    </div>

    <h3 class="text-center mrgn-50-top"><span>Catering partners</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <a href="http://www.nordbeans.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/nordbeans.png" alt="Nordbeans" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="http://www.streetcatering.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/street-catering.png" alt="Street Catering" />
        </a>
      </div>
    </div>
    <!-- /.Partners List -->

    <div class="row">
      <h3 class="text-center mrgn-40-top">
        <a href="#contact" class="btn btn-main-color page-scroll">Become our partner</a>
      </h3>
    </div>
  </div>
  <!-- /.container -->
</section>
