<section id="partners">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Partners</span></h2>
          <p class="subtitle text-center">Official partners of this year's Hackers Congress Paralelní Polis</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Partners List -->
    <h3 class="text-center"><span>Main Partners</span></h3>
    <div class="row partners-row">
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.generalbytes.com/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/generalbytes.png" alt="General Bytes" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://coinmate.io/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/coinmate.png" alt="Coinmate" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://exchange.simplecoin.eu/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/simplecoin.png" alt="Simplecoin" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-3 mrgn-20-top">
        <a href="https://www.prusa3d.cz/" target="_blank">
          <img src="/media/images/transparent.png" data-lazy="/media/partners/prusaresearch.png" alt="Průša Research" />
        </a>
      </div>
    </div>
    <!-- /.Partners List -->

    <div class="row">
      <h3 class="text-center mrgn-40-top">
        <a href="#contact" class="btn btn-main-color page-scroll">Become our partner</a>
      </h3>
    </div>
  </div>
  <!-- /.container -->
</section>
