<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            All tickets for HCPP18 are SOLD OUT. We will not sell any tickets on the spot.<br>
            Thanks to everyone who bought a ticket, you can still buy additional merchandise <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="js-shop-link">in our shop</a>.<br>
            Special thanks to a person who bought The Very Last Ticket for 1 BTC, we really appreciate it!
          </p>

        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <img src="/media/images/full-hcpp18-ticket-early-bird-sold-out.jpg" class="img-responsive">
        <h3>Ticket - Extended Sale</h3>
        <p>
          <strong><del>Only 4500CZK (~177EUR)</del></strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

