<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            Regular Tickets are already sold out! Current price of a Ticket for full three congress days is 4500CZK (~177EUR) in Extended sale. Hurry up, the is not many tickets left!
          </p>

          <p class="subtitle text-center">
            To promote financial freedom and decentralization in practice, we have decided to sell only for cryptocurrencies. For those who don't have any bitcoins yet, <a href="https://donate.paralelnipolis.cz/content/2-bicoin-guide" target="_blank" class="js-shop-link">we provide a guide</a> on getting them fast and easy.
          </p>

          <p class="subtitle text-center">
            <a href="https://donate.paralelnipolis.cz/hcpp18/95-full-hcpp18-ticket" target="_blank" class="js-shop-link">Buy now!</a>
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp18/99-full-hcpp18-ticket-extended-sale" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp18-ticket-early-bird.jpg" class="img-responsive">
        </a>
        <h3>Ticket - Extended Sale</h3>
        <p>
          <strong>Only 4500CZK (~177EUR)</strong>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://donate.paralelnipolis.cz/hcpp18/89-hcpp-pack-ticket-t-shirt" target="_blank" class="js-shop-link">
          <img src="/media/images/hcpp-pack-ticket-t-shirt.jpg" class="img-responsive">
        </a>
        <h3>HCPP Pack - Ticket + T-shirt</h3>
        <p>
          <strong>Only 4950CZK (~195EUR)</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

