<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          <p class="subtitle text-center">
            Current price of a Early Bird Ticket for full three congress days is 2500CZK (~95EUR).
          </p>

          <p class="subtitle text-center">
            To promote financial freedom and decentralization in practice, we have decided to sell only for cryptocurrencies. For those who don't have any bitcoins yet, <a href="https://donate.paralelnipolis.cz/content/2-bicoin-guide" target="_blank" class="js-shop-link">we provide a guide</a> on getting them fast and easy.
          </p>

          <p class="subtitle text-center">
            The number of Early Birds Tickets is very limited. <a href="https://donate.paralelnipolis.cz/" target="_blank" class="js-shop-link">Buy now!</a>
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <a href="https://donate.paralelnipolis.cz/" target="_blank" class="js-shop-link">
          <img src="/media/images/full-hcpp18-ticket-early-bird.jpg" class="img-responsive">
        </a>
        <h3>Early Bird Ticket</h3>
        <p>
          <strong>Only 2500CZK (~95EUR)</strong>
        </p>
      </div>
    </div>

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

