<section id="tickets">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Tickets</span></h2>
          {{!--
          <p class="subtitle text-center">
            All tickets for HCPP18 are SOLD OUT. We will not sell any tickets on the spot.<br>
            Thanks to everyone who bought a ticket, you can still buy additional merchandise <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="js-shop-link">in our shop</a>.
          </p>
          --}}

          <p class="subtitle text-center">
            Due to very high demand, we decided to upscale our congress capacity with one more ticket - The Very Last Ticket!<br>
            This ticket is for the special price of <strong>1BTC</strong> and serves as a donation to Paralelní Polis on its freedom mission.
          </p>

          <p class="text-center mrgn-30-top">
            <script src="https://gateway.gear.mycelium.com/gear-widget-host.js"></script>
            <iframe id="gear-widget" scrolling="no" src="https://gateway.gear.mycelium.com/widgets/a13447db3c53a38b8b1da6dfceabf98f148799e9edf308bd689c6afc71577704" style="border: none; display: inline-block; height: 130px; min-width: 250px; max-width: 350px; margin: auto;"></iframe>
          </p>

          <p class="subtitle text-center mrgn-30-top">
            Thanks to everyone who bought a ticket, you can still buy additional merchandise <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="js-shop-link">in our shop</a>.
          </p>

        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!--  Passes -->
    {{!--
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <img src="/media/images/full-hcpp18-ticket-early-bird-sold-out.jpg" class="img-responsive">
        <h3>Ticket - Extended Sale</h3>
        <p>
          <strong><del>Only 4500CZK (~177EUR)</del></strong>
        </p>
      </div>
    </div>
    --}}

    <div class="row text-center mrgn-50-top">
      <a href="https://donate.paralelnipolis.cz/10-hcpp18/" target="_blank" class="btn btn-main-color js-shop-link">Go to shop</a>
    </div>
  </div>
  <!-- /.container -->
</section>

