<section id="programme">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Programme</span></h2>
          <p class="subtitle text-center">
            Apart from intensive presentation schedule, the congress will be accompanied by panel discussions, VR stages, social events and other program in collaboration with our partners.<br>&bull;
          </p>
          <p class="subtitle text-center">
            Overwhelmed by new information? Wanna overcome the excess of good food and hacker beer? It's over! Lie down in our chillout zone - for a quick power nap, a friendly chat or for reading The Crypto Anarchist Manifesto. Your comfort will be complete with adjustable lighting bulbs Philips Hue, fragrant bitcoin installation Pecunia Non Olet and relaxing background music from <a href="https://www.focusatwill.com" target="_blank">Focusatwill.com</a>.
          </p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
  <!-- /.container -->
</section>
