<section id="schedule">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Schedule</span></h2>
          <p class="subtitle text-center">Upcoming talks</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <div class="row text-center mrgn-80-top">
      <a href="/schedule" class="btn btn-main-color">See full schedule</a>
    </div>
  </div>
  <!-- /.container -->
</section>
