<section id="support">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Support us</span></h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-big">BITCOIN ADDRESS → <a href="https://blockchain.info/address/13DPQG3pU1EEvuYr8zhssT9CGCCZWg4N9V" target="_blank">13DPQG3pU1EEvuYr8zhssT9CGCCZWg4N9V</a></p>
                </div>
                <div class="col-md-4">
                  <a href="bitcoin:13DPQG3pU1EEvuYr8zhssT9CGCCZWg4N9V">
                    <img class="img-responsive" src="/media/images/bitcoin_qr.jpg" alt="QR code for bitcoin transaction">
                  </a>
                </div>
              </div>
              <hr class="border-light">
              <div class="row">
                <div class="col-md-8">
                  <h3>Follow us:</h3>
                  <ul class="list-inline social-buttons">
                    <li> <a class="fa fa-twitter fa-lg" href="https://twitter.com/paralelni_polis"></a> </li>
                    <li> <a class="fa fa-facebook fa-lg" href="https://www.facebook.com/vejdiven"></a> </li>
                    <li> <a class="fa fa-youtube fa-lg" href="https://www.youtube.com/channel/UCfHJ5Y3akQ7LA0PQmSYlYmQ"></a> </li>
                    <li> <a class="fa fa-soundcloud fa-lg" href="https://soundcloud.com/paralelnipolis"></a> </li>
                  </ul>

                  <h3>Support Us:</h3>
                  <p class="text-big">TRANSPARENT ACCOUNT <a href="https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?ID_ucet=2200587351" target="_blank">2200587351/2010</a> → QR PAYMENT:</p>
                  <p class="text-big">For SEPA payments use IBAN CZ2920100000002200587351</p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="/media/images/banka_qr.jpg" alt="QR code for bank transaction">
                </div>
              </div>
              <hr class="border-light">
              <p class="subtitle text-center">
                All proceeds from this friendly conference will be used to support Paralelni Polis on its freedom mission. Thanks for considering your support!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->
  </div>
</section>
