<div class="container mrgn-60-top mrgn-60-btm">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>{{title}}</h1>
      <h2>NAP</h2>
      <p class="text-capitalize text-big">
        <a href="http://nap.univacc.net/" target="_blank" rel="noopener">Non-aggression principle</a>
      </p>
    </div>
  </div>
</div>
