<section>


<div class="container mrgn-60-top mrgn-60-btm section-title">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>{{title}}</h1>
      <p class="subtitle">
        Dear HCPP18 visitors,<br>
        Show your respect to Ross Ulbricht, the most influential crypto-anarchist and the victim of the government’s inhumane persecution of free-minded people.</p>
        <img src="/media/images/postcard-ross.jpg" class="img-responsive" alt="" /><br>
      <p class="subtitle">Make him happy and send your favorite crypto-anarchist postcard to his jail (for a special price of 30 CZK in bitcoins):</p>
      <address class="subtitle">
        Ross Ulbricht, #18870-111<br>
        Metropolitan Correctional Center<br>
        150 Park Row<br>
        New York, NY 10007<br>
        U.S.A.<br>
      </address>
      <p class="subtitle">
        Thanks a lot!
      </p>
    </div>
  </div>
</div>
</section>
