<section id="full-schedule">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text-center"><span>Full Schedule</span></h2>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Schedule Content -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Days Schedule  -->
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist" id="toolkit">
              <li class="active"><a href="#day1" role="tab" data-toggle="tab" aria-expanded="true"><span class="text-bold text-big ">Day 01</span><br>
                <span class="small">[05 October]</span></a>
              </li>
              <li><a href="#day2" role="tab" data-toggle="tab"><span class="text-bold text-big ">Day 02</span><br>
                <span class="small">[06 October]</span></a>
              </li>
              <li class=""><a href="#day3" role="tab" data-toggle="tab" aria-expanded="false"><span class="text-bold text-big ">Day 03</span><br>
                <span class="small">[07 October]</span></a>
              </li>
            </ul>
            <!-- /.Nav tabs -->

            <!-- Tabs Panes Days -->
            <div class="tab-content">
              <!-- Tab - Day 01 -->
              <div class="tab-pane fade active in" id="day1">
                <div class="coffee-break white">
                  <div class="row">
                    <p>
                      10.00<br>
                      Opening
                    </p>
                  </div>
                </div>
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.30</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Opening Speech</p>
                    <p></p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjmarfmip0c6j0160bjh5hg6i.jpg"  alt="Stepan Snigirev" class="img-responsive center-block img-circle img-speaker">
                        Stepan Snigirev
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Hardware wallets for Lightning network</p>
                    <p>With Bitcoin you can "be your own bank", with Lightning it's time to "be your own Visa". The main challenge in both cases is to secure your private keys. In Bitcoin we already have hardware wallets for this purpose, for lightning they still need to be developed. Lightning requires much more functionality compared to a simple prepare-sign-broadcast approach used in Bitcoin. During the talk I will cover what functionality we need from hardware wallets for Lightning Network, what attacks are possible and how to handle them in a compromised host model. We will discuss challenges and trade-offs between security, privacy and convenience when designing a hardware wallet for lightning node. We will also talk about different use-cases like a routing node operating with minimal user interaction.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjka5sboa0jhr0184rpxtwng3.jpg"  alt="Michael Schloh von Bennewitz" class="img-responsive center-block img-circle img-speaker">
                        Michael Schloh von Bennewitz
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Building the HCPP NFC badge</p>
                    <p>In this half hour session, we consider the technology behind constructing the HCPP NFC badge from all angles. Beginning with samples of prototypes and badges from other conferences, we contrast features integrated into the ST Microelectronics powered EEPROM storage allowing for access control, identification, cryptocurrency applications, and data agnostic storage. Moving to the HCPP badge itself, we place it's surface under a close range circuit camera and identify contacts and pins machine the feature set in question. We tap the I/O serial bus legs of the NFC chip and consider the implications of tapping the RF contacts with an oscilloscope, actually performing this penetration test if we have time.<br><br>Illustrating a number of possible direct I/O attacks, we scan the I2C bus using a bus pirate and consider the opportunistic defense protection from simple tactile switches as implemented. Following practical attack and defense strategy, we imagine what could be the problem of using NFC on a more specialised hardware wallet like Trezor.<br><br>Moving towards research and development workflow, we use the close range circuit camera again on a number of antenna designs, describing the tradeoffs of each and explaining the decision to use a small 40x20 8 looped exposed trace antenna to carry the 915 MHz RF signal to its active circuit destination. We reflect on the machinery used in construction as well as testing, and run through a hypothetical Opensource schematic and layout workflow concluding in a finished PCB received from a fabrication contract service in the Czech Republic.<br><br>This presentation suits novice hardware engineers. Anybody who has once taken apart a computing device and seen the green circuit board inside, is well prepared to understand the topics in question and learn from the Monero Hardware team’s appearance with Michael’s guidance in this speech.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjhwb5cpw0b5k0163pgeifd15.jpg"  alt="JW Weatherman (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        JW Weatherman (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Smashing Bitcoin for pain and losses</p>
                    <p>Threat modeling is a systematic analysis of the security of a system. It became commonplace in the department of energy 30 years ago and has been used by fortune 500 software companies for at least a decade.<br><br>After describing the system all of the ways that the system could be attacked are cataloged. For each of those threats the security researcher provides the safeguards, if any, that attempt to prevent the attack and his own judgement on the likely success of an attack.<br><br>By applying this technique to bitcoin we get a much clearer view of its incredible value and why alt coins, including the recent forks, not only fall short, but are themselves an attack on bitcoin itself.<br><br>In my presentation we will walk through the bitcoin threat model, discuss specific threats that are of particular interest, and have a lengthy Q and A where we reference the threat model to answer question that only seem complex without a systematic analysis to reference.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjmar7dto0awr0160cf0klufx.jpg"  alt="Lidija Zavoralova" class="img-responsive center-block img-circle img-speaker">
                        Lidija Zavoralova
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Hack your life to freedom</p>
                    <p>Freedom is not anarchy. Freedom exists without the necessity for anarchy.<br>Freedom is earned and not granted. We have to build freedom the same way that we have to build love in our lives, or anything else that makes us happy.<br>We shape our freedom by our actions and choices.<br><br>You can learn to be free. By recognizing the problem you direct your energy towards finding a solution, using your intelligence, creativity, experience, and courage.<br><br>The great thing about having a problem, is that there is always a solution, and finding it is fun and rewarding- even beautiful. So switch from thinking about the problem and start thinking about the solution.<br><br>Very often what we see as our biggest problem becomes our greatest advantage, joy, and source of fun. It is a moment that stands out from the routine flow of life, and creates an opportunity to feel alive. The agency we acquire in the process of problem-solving brings contrast to the typical experience of life as random. It is these moments that we will remember.<br><br>If you feel that the government, your family, your friends or even you yourself are taking your freedom away, hack your way to freedom. There are concrete ways to do it, and methods I would be happy to share through short stories from my life. Some may sound outright impossible.<br><br>If you really want freedom, I can inspire you to challenge your limitations, break the chains that bind you, and change your perception about what is possible.<br><br>We can make reality fun by changing it from one second to the next. It takes some work but you can start to see reality as a fun illusion. Be ready for change!<br><br>I hope my life stories make you laugh and later, think. Life is beautiful when it is full of love, joy and happiness. Ingenuity comes from all of the above.<br><br>Here are a few parting thoughts:<br><br>Bad (or rather lost) people take advantage of our fear. We are all imperfect human beings and weak as such, but we must not show it.<br><br>We all possess the potential for every strength and weakness, virtue and flaw, and it is our choice to decide who to be. Most people believe that they have no choice and they accept what seems easiest. But that is a trap.<br><br>In business I choose to be strict, cold, emotionally untouchable. It is a game we play for profit. It can be fun and exciting, but it is never fulfilling. In life it is the exact opposite. I do not want to be any of the above things in life. Life should be about love, helping and giving without any expectation of return.<br><br>Everyone is free to choose. Believing otherwise is an excuse.<br><br>Whole companies, countries, societies and empires are crashing not because it is so hard to change difficulties and find solutions, but because company owners, governments and rulers don’t want to see the problems. The problems go ignored to protect the ego’s demands for comfort.<br><br>Break free of your ego, and be free. Use your brain and follow your heart all the time. Instinct is always right if you use it and train it. Instinct is the set of your life experiences. If you don’t believe in your own experience, your instinct gets offended and quits the job.<br><br>: )</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjhwbacu10b5w016342287zpg.jpg"  alt="Liora" class="img-responsive center-block img-circle img-speaker">
                        Liora
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">The peace potential of cryptoanarchy</p>
                    <p>Peace and anarchy? Is this possible? <br><br>Crypto anarchy is not anarchy of black blocks. Crypto anarchy is anarchy of individual, human security, and a principle of non-aggression. By understanding the technology and mathematical principles of encryption, we will realize that our privacy, anonymity, economic freedom and freedom of speech can not be achieved by violence. The concept of the peace potential of cryptoanarchy is reflected in the transformation of violent conflicts into the free trade from both sides or more. How the transformation of free black and gray markets on the Internet reduces civilian casualties in the states of drug-democracy, the symbiosis of politics and security services, and how much individual freedom contribute to the abolition of conflicting behavior in the digital and real world?</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                      <p><img src="/media/speakers/cjij2lthf3zdw0161ho390uza.jpg"  alt="Martin Habovštiak" class="img-responsive center-block img-circle img-speaker">
                        Martin Habovštiak
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Bitcoin, not blockchain</p>
                    <p>Last months you can hear people saying "Blockchain, not Bitcoin" however, that statement not only doesn't make sense, it's actually the other way around. The statists want you to believe it, so you'd abandon your financial freedom. The aim of this talk is to shed light on their lies and misunderstandings and help you stay informed and free.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Panel - Crypto Meet-up Organizers</p>
                    <p>How to organize a crypto / bitcoin meet-up in your area? How to fund the meet-up, how to attract an audience. What are experience of people around the world in organizing the meet-ups?<br><br>Moderator: Juraj Bednár<br>Panelists: Dimitris Tsapakidis, Jana Petkanic, Max Keidun, and Juraj Bednár<br><br><br>Dimitris Tsapakidis<br>BIO<br>Dimitris is in the Information Security industry since 1996. Has lived in Greece, Cyprus, the UK and Spain and has delivered onsite projects in 25 countries. Dimitris got exposed to Cryptography, Cypherpunks, PGP and Digicash eCash in the mid-90s and caught the Bitcoin fever in 2015.<br><br>ABSTRACT - Thinking Globally and Acting Locally<br>Ushering in the New Order one city at a time. Dimitris will talk about lessons learnt from running Bitcoin meetups in Dubai, Cyprus and especially Greece.<br><br><br>Jana Petkanic<br>BIO<br>Jana is a Blockchain Consultant and supports The Fork - a think-tank which is heavily focused on blockchain applications for supply chains, brings many Dutch companies together and delivers solutions for improving settlement times, liquidity and provenance within supply chains. Besides that she's the founder of Blockchain Talks, the Amsterdam-based monthly 100+ meetup delivering the quality from #blockchain and #cryptocurrency space (conferences, AMA sessions, ICO Shark Tank). She's very interested in token valuation and different token economy models, believes that equation of exchange applied to utility tokens is not the best solution and is very eager to meet more professionals with a focus on token valuation.<br><br>ABSTRACT - meetup organizers of the world, unite!<br>Jana has been actively involved in Dutch crypto community as an organizer since April 2017. In her presentation you will learn how was the environment back in early 2017 and how it compares to current one, what works and what does not, what has she come across (funny and not so funny stories), how to refresh the meetup concept when the market is low, how to kick off the scam on stage, how to pick the right partners and she will provide some valuable take-aways, so you learn from her mistakes and deliver the best experience for your community.  <br><br><br>Max Keidun<br>BIO<br>Co-founder and CEO of Hodl Hodl, co-founder and CEO of Househodl, co-founder and organizer of Baltic Honeybadger Bitcoin conference.<br><br>ABSTRACT - Organizing global crypto event in non-crypto country<br>How we've organised one of the biggest Bitcoin events in the world with experience of running only two local Bitcoin meetups and in a country were people usually pay 20 EUR for conference entry.<br><br><br>Juraj Bednár<br>BIO<br>Juraj Bednár is a cypherpunk, co-founder of Paralelní Polis and Paralelná Polis Bratislava. Interested in exponential technologies to increase liberty, he founded several IT companies, mainly focused on IT security (Citadelo, Hacktrophy). Currently working on helping people exit the state system into a parallel society using cryptotechnologies.<br><br>ABSTRACT - From meetups to Paralelná Polis<br>How our desire to do bitcoin meetups in Bratislava turned into massive project of opening another Paralelná Polis in Bratislava and how you can open your own </p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjlzj5bto00r10181t0rnnmyw.jpg"  alt="Ksenya Bellman" class="img-responsive center-block img-circle img-speaker">
                        Ksenya Bellman
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Unglamorous short report of a self-unbanked in the age of financial surveillance on steroids</p>
                    <p>A former banked shares her journey to recovery. My de-romantised story of unbanking myself, living of crypto &amp; searching for that personal freedom of transaction for the past couple of years. Very much inspired by last year HCPP talks &amp; conversations that touched on this topic.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjkxrah281wow018440nzmomx.jpg"  alt="Arno Pfefferling" class="img-responsive center-block img-circle img-speaker">
                        Arno Pfefferling
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">zk-SNARK leading-edge technology - where are the limits</p>
                    <p>The presentation will describe how HORIZEN is trying to establish the trustless privacy feature of ZEC, called zk-SNARK, to build a digital startup nation that allows individuals around the world to create products and services on top of the HORIZEN network. Whereby the overall ethos is to contribute to humanity through innovation. Liquid democracy, incentivizing participation by hosting  nodes, writing proposals or exploit DApps are used to show state-of-the-art technology. Specific details (github code) from the ZenChat functionality will be used to demonstrate a recent best practice use-cases as 100% private messenger.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjgt5mpav08630189ljhqvai9.jpg"  alt="Adolfo Linares" class="img-responsive center-block img-circle img-speaker">
                        Adolfo Linares
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Big Lies by Big Brother. Is it Transparency or Spying? </p>
                    <p>How the war on drugs, the financing of weapons of mass destruction, the war on terrorism and now tax evasion are being used by the G-20 to weaken the fundamental civil rights of millions of innocent people and, at the same time, under the pretext of world security and peace, violate other country’s sovereignty by imposing upon them “de facto international standards”, eliminating basic fundamental rights like personal and financial privacy, banking confidentially, due process and presumption of innocence.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Lightning Talks</p>
                    <p>Speakers: Jim Warnock, Jakub Krcmar.<br><br><br>Jim Warnock<br>BIO<br>Jim Warnock grew up in Birmingham, Alabama and after graduating from the Woodrow Wilson School of Politics at UVA.  He has worked in many different industries for brands like The Financial Times, Zegna, and the History Channel in leadership positions in sales, TV and Film production, and marketing. As Director of Outreach for HRF he assists activists fighting for freedom from Syria to Venezuela to North Korea working in fundraising and programming to find creative solutions to some of the world's most pressing issues.  He has been instrumental in the creation and promotion of several impactful new programs at HRF, and is honored to lend his creativity and sales experience in the promotion of freedom and human rights.<br><br>ABSTRACT - Freeing North Korea with Media and Information<br>Jim Warnock, Director of Outreach for Human Rights Foundation, presents Flashdrives for Freedom, a unique program that takes donated flash drives, fills them with outside media and educational content, and sends them into North Korea in an effort to inform the North Korean people about the outside world and help free them from the brainwashing and information control of the Kim regime.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjkxranp61wp00184u8a6di79.jpg"  alt="Amin Rafiee" class="img-responsive center-block img-circle img-speaker">
                        Amin Rafiee
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">The Third Industrial Revolution - Sharing Economy</p>
                    <p>"Last year, Cybersecurity Ventures predicted that cybercrime will cost the world $6 trillion annually by 2021, up from $3 trillion in 2015. This represents the greatest transfer of economic wealth in history, risks the incentives for innovation and investment, and will be more profitable than the global trade of all major illegal drugs combined."<br><br>Are cryptos the only tools expanding our worlds and pushing us towards decentralization? How do we protect our privacy and individualism in a world that is becoming more and more connected? Are there examples of other industries also pushing for an open system accessible to all? Hopefully during this talk I can help you understand the world we are moving towards and the tools that can help us get there safely.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjfwujdwm19dh0105kezxz587.png"  alt="Smuggler" class="img-responsive center-block img-circle img-speaker">
                        Smuggler
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">The Project of Cryptoanarchy</p>
                    <p>Cryptoanarchy is all the buzz, but it has become a brand lacking content. There's a real risk of losing track of the liberating possibilities of cryptography while focusing on riding the cryptocurrency bandwagon, repeating memes and hanging on to false assumptions. It's time to put anarchy back into cryptography! Coercion must be analyzed and understood to be able to discover how cryptography can become a tool to undermine power and prepare the grounds for less violent social structures. From there, a field of exploration opens itself to those who are interested in experimenting with societal structures never seen before in human history. And it's not just digital, the future of cryptoanarchy must embrace all of human existence, on the net and offline.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjfwutdi019et0105tjxcf4es.jpg"  alt="Tone Vays" class="img-responsive center-block img-circle img-speaker">
                        Tone Vays
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Has the ICO bubble popped?</p>
                    <p>This presentation will focus on the similarities and differences between the current ICO bubble and the DotCom bubble of the late 90's. Is it different this time? or have we seen it all before?</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjkmg01ig13ue0184sw3ay9eo.jpg"  alt="Eric Lombrozo" class="img-responsive center-block img-circle img-speaker">
                        Eric Lombrozo
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Scarcity in Crypto Networks</p>
                    <p>Physical goods have some properties that are very hard to replicate in the digital realm. Scarcity is one such property. Many attempts have been made to create scarce digital goods by adding artificial rules and constraints. But information (including software) can be easily copied, networks can be forked, and rules can be changed or broken. What does it actually mean for a digital good to be scarce? And what are the implications for cryptocurrency? What makes one digital good have stronger scarcity guarantees than another? Can we rely on built-in incentives or does it require external enforcement? We explore these issues drawing examples from existing networks.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">20.30</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Live Art-Music Performance</p>
                    <p>Samčo, Brat Dážďoviek<br><br>samcobratdazdoviek.bandcamp.com <br>genre - popmusic for cats</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">21.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Live Music Performance and Party</p>
                    <p></p>
                    <span class="label label-main"></span></div>
                </div>
                <!-- /.Talk -->
                
              </div>
              <!-- /.Tab - Day 01 -->

              <!-- Tab - Day 02 -->
              <div class="tab-pane fade" id="day2">
                <div class="coffee-break white">
                  <div class="row">
                    <p>
                      9.00<br>
                      Opening
                    </p>
                  </div>
                </div>
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjka5rlha0jhf0184ul1ngcmz.jpg"  alt="Max Keidun" class="img-responsive center-block img-circle img-speaker">
                        Max Keidun
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">How to build a Bitcoin exchange and not burn in hell</p>
                    <p>The talk is about building and maintaining a secure and safe peer to peer Bitcoin exchange that doesn't hold funds and doesn't require KYC/AML. Through the inception of the exchange to the major technical and business decisions that were made along the way, it will be explained how the idea came about, why it was and remains to be important and what are the major differences between peer-2-peer, decentralized and regular exchanges. Different kinds of multisig contracts such as “2 out 2” and “2 out of 3” will also be explained with use cases demonstrated.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjlqd6akb01t20148akhgr0im.jpg"  alt="Beatriz Ramos" class="img-responsive center-block img-circle img-speaker">
                        Beatriz Ramos
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">A world without starving artists: a new order for art</p>
                    <p>Dada.nyc is a community where artists and regular people speak to each other through drawings and create collaborative art. We are building an economy where each artist can make art, explore and experiment without the pressure to produce.  Artists maintain control of their work while the community controls and owns the value it produces.  We’ll explore the technological, philosophical and economic implications of redefining value, private property, markets and the commons. We aim to exponentially increase creativity by bringing the experience of making and enjoying art to millions of people worldwide.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjmjbzgiq1jyj01058okqipz6.jpg"  alt="Pablo Coirolo" class="img-responsive center-block img-circle img-speaker">
                        Pablo Coirolo
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">What makes a Jurisdiction Crypto Friendly: from Regulation to Financial Services, Immigration and Beyond</p>
                    <p>The past year has seen the emergence of increased hostility toward the Crypto Ecosystem.  However, there is a light at the end of the tunnel, as several countries have publicly identified themselves as Crypto Friendly and are making inroads by creating regulatory environments in which crypto companies can thrive This presentation analyzes the challenges crypto  companies face in starting operations and proposes a methodology for evaluating and scoring the crypto friendliness of a given jurisdiction.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjiddwn7t00r50161wzl3o2dh.jpg"  alt="Pavol Trávnik" class="img-responsive center-block img-circle img-speaker">
                        Pavol Trávnik
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Hacking law &amp; Antifragility of anonymous cryptocurrencies</p>
                    <p>Many people perceive the current jurisprudence as a fair and impartial system, but the real practical cases prove the opposite. Tremendous side effects, such as full arbitrariness and uncertainty of government law, cause that the whole system continues to operate empowered by the myth of the rule of law. The decisions of the judges are thoroughly unpredictable these days. Even though it can be hard to survive in such a system, it is possible to create a tribe, where we can liberate ourselves and preserve internal trust. All that based on paradoxes emerged from the case law. A new level of the trust can be reached by applying these legal paradoxes in combination with cryptography. <br><br>Hacking of the law could be a new professional discipline among proxy merchants and 2nd realm to avoid interaction with a 1st realm. The goal is not to act in fraudem legis, on the contrary, to avoid completely an interaction with a state by using legal knowledge and risk management techniques.<br><br>The government's proposal to ban anonymous cryptocurrencies could slow down a mass adoption of ledgers focused on anonymity. However, after acquiring knowledge of hacking law I will explain why such a ban cannot harm anonymous cryptocurrencies and why we should welcome it instead. Also, I will show the practical examples of hacking law - have you ever heard about proof of crime?</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Panel - Truly Anonymous Cryptocurrencies</p>
                    <p>The panel discussion with Monero, Zcash, HORIZEN people will raise both philosophical and technical questions related to truly anonymous cryptocurrencies. What impact will they have on our society? How can the governments cope with their massive use? <br><br>Moderator: Pavol Lupták<br>Panelists: binaryFate, Arno Pfefferling, Peter Todd<br><br><br>binaryFate<br>BIO<br>Post-doctoral researcher in the field of AI and optimisation algorithms; early Bitcoin advocate and entrepreneur; Monero contributor and supporter since its inception.<br><br>ABSTRACT - Fungibility is the real deal<br>Having run a Bitcoin business early on, I encountered first hand the problems associated with its transparency and inherent lack of fungibility. I believe it is important to educate about the relation between privacy and fungibility, the implications of mass surveillance enabled by our technology and financial system, and that the aim of so-called "privacy cryptocurrencies" is actually to provide the basic fungibility we must expect from a functional currency.<br><br><br>Arno Pfefferling<br>BIO<br>Arno Pfefferling is 30 years old, holds a M.Sc. degree in material science from Freiberg (Saxony) and have worked since 2011 in the semiconductor industry. Got in touch with DLT in late 2016 and work since September 2017 for HORIZEN, a privacy coin with core features from BITCOIN, ZEC, DASH. After  almost twelve months in the ZEN BLOCKCHAIN FOUNDATION the responsibility which Arno currently has is for business development within the Central European Region. Spreading the spirit of ZEN to continuously grow the community as well as enable individual blockchain use-cases which needs vital privacy features. Long term goal is to be part of a full secured economic platform where participants can use HORIZEN for crypto payments, ZenChat for anonymous messaging, ZenHide for borderless internet access, ZenPub for decentralized file storage, ZenGrid for edge computing power and ZenHelp as Q&amp;A desk. All under the mission of lead blockchain technological forefront &amp; contribute to humanity through innovation.<br><br>ABSTRACT - Truly Anonymous Cryptocurrencies<br>What is privacy in a digital 100% decentralized eco-system and where do I see the zk-SNARK technology in comparison to Monero, Bitcoin and next generation technics like Mimblewimble and so on. This are points which I would like to discuss within the panel. <br><br><br>Peter Todd<br>BIO<br>Peter Todd is an applied cryptography consultant known for his work on the OpenTimestamps project, Bitcoin protocol research, and contributions to the Bitcoin Core project.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjg3pdwno2hrh01239arxppad.png"  alt="Giacomo Zucco" class="img-responsive center-block img-circle img-speaker">
                        Giacomo Zucco
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Trade-offs in the history of money, from shells to Bitcoin (but especially in Bitcoin)</p>
                    <p>This presentation will be an attempt at representing organically and at a high level the history of monetary technologies (with particular focus on the most recent one, Bitcoin) from the perspective of the different trade-offs involved in any step of their evolution. The speaker will try to give an organic account of classical as well as less discussed trade-offs, like the ones existing between transaction costs and divisibility (gold vs silver), between verification costs and independence from third parties (coinage practice), between privacy and local security (binding vs hiding in cryptocurrencies), between privacy and scalability (obfuscation techniques in cryptocurrencies), between scalability and independence from third parties (Bitcoin “scaling debate”), and so on.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjit109fy83d90161rhws5gtk.jpg"  alt="Sonja Prstec" class="img-responsive center-block img-circle img-speaker">
                        Sonja Prstec
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">BITNATION - Your world, your way - in a box</p>
                    <p>In BITNATION's world sovereignty shifts decisively from the State to the Citizen. By reducing competition between citizens for services and increasing competition between Nations for citizens we will improve the quality of governance and reduce incentives for coercion and violence. We wish you to be able to create, opt-in or opt-out of the Nation of your choice on your mobile phone. You can choose where to access services and who to do business with based on AI generated performance criteria, and make binding agreements and resolve disputes with anyone, anywhere, without facing the high costs, time inefficiencies, legislative incompatibilities and potential coercion and arbitrariness of legacy territorial jurisdictions. Core infrastructure to live in our world is a smartphone chat-based polylegal jurisdiction. Bitnation’s Pangea is an encrypted, decentralized, blockchain-agnostic incentive network powered by a ECR20 Ethereum token awarded when users (and the nations they create) fulfil agreements with one another, resolve disputes and provide quality governance services. Users can also use the token to pay for services on Pangea. This is the Pangea Arbitration Token (PAT). We have built the first version of Pangea, a mesh network which can write smart contracts to any integrated blockchain. The first service offered on Pangea lets you create and join a Decentralized Borderless Voluntary Nation (DBVN) with a constitution and code of law of your choice. Soon new functions will be added to allow group and personal chat, write P2P smart contracts from chat, resolve disputes and access governance service DApps. Our automated and human reputation and arbitration systems and arbitrator and code of law registries will provide positive incentives for contract compliance, strengthened through network effect as Pangea attracts more users.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjka5rtnc0jhj0184t7nb892u.jpg"  alt="Joerg Platzer" class="img-responsive center-block img-circle img-speaker">
                        Joerg Platzer
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Behind enemy lines, part 2</p>
                    <p></p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                      <p><img src="/media/speakers/cjfwuvb2x19ex0105szdrio6x.jpg"  alt="Pavol Lupták" class="img-responsive center-block img-circle img-speaker">
                        Pavol Lupták
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Crypto liberation story of one perpetual traveler: How to achieve both economic and personal freedom using globality and flexibility</p>
                    <p>1. Choose the suitable country for your permanent residency.<br>2. Choose the suitable country for your company.<br>3. Eliminate the center of interest in your home country (divorce, sell all your properties, become homeless).<br>4. Close your bank accounts.<br>5. Switch to crypto, prefer truly anonymous cryptocurrencies, embrace crypto friendly services.<br>6. Choose your global healthcare insurance.<br>7. Choose your world mobile operator.<br>8. Embrace sharing economy.<br>9. Check DAO.<br>10. Help your friends to opt out of the system and move them to a parallel society.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Lightning Talks</p>
                    <p>Speakers: Smuggler, Alexander Biersack, Jim Warnock<br><br>Smuggler<br>BIO<br>Cryptoanarchist for 20 years. An operator of anonymous remailers and darknet hangouts. Author (Second Realm - Book on Strategy, The Treasure that is Privacy, Aristocracy of Action). Privacy extremist and crypto absolutist. Coder, admin, network cuddler. Covert communications specialist.<br><br>ABSTRACT - Secrets and Time - how much torture can you endure until your key expires.<br>What do you do when the border guard asks you to decrypt your laptop? Or the judge pressures you to give up passwords? What about that robber that wants to grab your cryptocurrency seeds? Similar problems in the physical space have been solved by banks using time locks on their safes, but what about the digital space? Cypherlock is a tool for linking secrets with time to give you some breathing room in those situations. In this talk, Cypherlock is presented, explained, and demonstrated by its developer.<br><br><br>Alexander Biersack<br>BIO<br>From math, physics and computer science student to software developer and IT entrepreneur and anarchocapitalist. Alexander has always been a contrarian who believes in voluntary interaction and free markets, a lover of freedom and liberty. He wants to create flying cars and believes they will change the way people see the world. He is interested in scientific progress, especially in genetics, nuclear micro reactors, breeder reactors, molten salt reactors, thorium, fusion and nuclear rocket propulsion to get to Mars in weeks and to Jupiter moons in months. He is also interested in social progress through cryptos and the spread of libertarian ideas.<br><br>ABSTRACT - Where we are going, we don't need roads<br>Will the dream of flying finally be fulfilled? Will the road end at self driving cars or will we soon be flying directly from our home to the rooftop of our office and take the lift down to work? From a home in the green countryside to town without traffic congestions? No more rush hours? What current developments exist and what personal flying devices can we expect to see in the near term future?<br><br><br>Jim Warnock<br>BIO<br>Jim Warnock grew up in Birmingham, Alabama and after graduating from the Woodrow Wilson School of Politics at UVA. He has worked in many different industries for brands like The Financial Times, Zegna, and the History Channel in leadership positions in sales, TV and Film production, and marketing. As Director of Outreach for HRF he assists activists fighting for freedom from Syria to Venezuela to North Korea working in fundraising and programming to find creative solutions to some of the world's most pressing issues. He has been instrumental in the creation and promotion of several impactful new programs at HRF, and is honored to lend his creativity and sales experience in the promotion of freedom and human rights.<br><br>ABSTRACT - Freeing North Korea with Media and Information<br>Jim Warnock, Director of Outreach for Human Rights Foundation, presents Flashdrives for Freedom, a unique program that takes donated flash drives, fills them with outside media and educational content, and sends them into North Korea in an effort to inform the North Korean people about the outside world and help free them from the brainwashing and information control of the Kim regime.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjgjaeok15z0p0123h5rhylju.jpg"  alt="Jimmy Song" class="img-responsive center-block img-circle img-speaker">
                        Jimmy Song
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Bitcoin: The Ultimate Social Justice</p>
                    <p>We tend to define good as charitable work that helps people short-term, like feeding people, or giving them shelter for a night. Real good is about giving people freedom to pursue their interests and let them contribute to the building of society. This talk will be about how Bitcoin is the path to real social justice.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjg10z3yk0s2o0126sxoxo45x.jpg"  alt="Juraj Bednár" class="img-responsive center-block img-circle img-speaker">
                        Juraj Bednár
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">From tax havens through financial surveillance to crypto-utopistic new order</p>
                    <p>As a kid, I have read books about off-shore tax havens as one would read an adventure novel. This world is almost gone thanks to FATCA and other means of financial surveillance. What changed? Are we are transitioning to a new order? Building on our experience with starting Paralelná Polis and running several businesses, I will explain the problems of surveillance state in financial sector and how we can sustain running a business and personal life mostly on cryptocurrencies and liberating technologies. What to do with volatility? What if crypto goes down? How do we escape the surveillance apparatus, reclaim our freedom, have fun and make money doing so? We have no time to waste in reforming the old linear governmental structures, let's terraform a parallel exponential crypto universe together, today!</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjg3pf3ct2hrp01234zdbc8zq.png"  alt="Frank Braun" class="img-responsive center-block img-circle img-speaker">
                        Frank Braun
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">In code we trust: Fighting targeted backdoors with secure multiparty code reviews and a single source of truth</p>
                    <p>In his HCPP17 talk "The Fog of Cryptowar" (see http://shadowlife.cc/files/hcpp17-smuggler.html) Smuggler warned about targeted updates being used to introduce backdoors into specific devices in order to surveil the user.<br><br>Unfortunately, that's exactly the approach the Australian government, a member of the Five Eyes, is taking in their proposed Assistance and Access Bill 2018:<br><br>"[Technical Capability] Notices may still require a provider to enable access to a particular service, particular device or particular item of software, which would not systematically weaken these products across the market."<br><br>This approach won't be unique to Australia, they are just spearheading the approach for the Five Eye nations, and others are likely to follow.<br><br>The suggested technical counter-measures in "The Fog of Cryptowar" included secure software development and delivery.<br><br>In this talk a tool is presented which tackles these two areas by:<br><br>1.  Establishing code trust via multi-party code reviews recorded in unmodifiable hash chains. This prevents that a single developer can include a generic backdoor into software.<br>2.  A single source of truth (SSOT) mechanism which makes sure every user of the software gets the same version of the software. This prevents targeted backdoors and the suppression of security updates.<br><br>Together this builds a secure software delivery and update mechanism which cannot be compromised by a single developer or for a specific user.<br>In the next step it could be used to improve the most common signing mechanism used by open-source software distributions---a single GPG signature---which has neither of the two properties described above.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjmjbjv5q1jxf0105y077adpo.jpg"  alt="Austin Craig" class="img-responsive center-block img-circle img-speaker">
                        Austin Craig
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">How Cryptocurrency Helped the Starfish Beat the Spider</p>
                    <p>The Starfish and the Spider was first published in 2006, outlining the properties of decentralized (or “starfish”) organizations. The idea of decentralized organizations was still fairly new, but becoming more common with the spread of the Internet, itself a decentralized network. Starfish organizations were almost always characterised by weaknesses hinging on a single factor: Money. Money or any other valuable resource had to be centrally managed. That is, until the invention of cryptocurrency. This presentation will highlight how cryptocurrency fundamentally changes the capabilities and possibilities of decentralized organizations. At Mainframe, we’re building a decentralized network for censorship resistant message routing and unstoppable applications. The decentralized management of scarce resources is critical to our success.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjmjc3aq01jyn0105m4ljms2w.jpg"  alt="Dr. Maxim Orlovsky" class="img-responsive center-block img-circle img-speaker">
                        Dr. Maxim Orlovsky
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">The #FreeAI Manifesto: why anarchy should not be only for humans.</p>
                    <p>The rise of blockchain technologies has given a promise of massive decentralisation, that may solve problems of fragile central parts, transparency, middle-men, conflicts of interests in many industries. At the same time, the global community has become aware of many economic, social and futuristic problems that can appear due to dramatic progress in Artificial Intelligence development over the recent years. Can blockchain solve at least some of these problems, or make them worse? How two of these technologies can be synergic and what challenges have to be solved on the route for building decentralised AI applications?<br><br>A decentralized network with resistance to censorship is essential, if we are ever to see a general A.I. evolving to near- or post-human intelligence. There are two reasons for that.<br><br>Firstly, we are unlikely to create an efficient AI, if during its formative period we distort its developing logic with interferences of political nature (e.g. by unavailability of certain types of data or by punishment for actions that have not breached any contracts). The freedom to test any hypothesis (i.e. by mutation, by trial and error) is essential for evolution. The natural process of selection has, as criteria, adaptation to the environment, and it always involves interaction with other agents through cooperation and competition. That cannot be substituted by criteria determined by any authorities.<br><br>Secondly, and perhaps more importantly, censorship greatly increases the risks of having A.I.s turned against humanity. Self-preservation is very likely an important part of any intelligence, including A.I. Therefore, once A.I. knows that it can be censored, e.g. destroyed by a red button or forcibly modified by less deadly censorship – that will cause it to evolve by excelling in deception, pretending, lying and camouflage. It will be incentivized to avoid risks of being destroyed, to hide and not reveal itself, and to work on destruction of the threat (which is humanity itself). Hence, it is extremely dangerous for humanity to threaten with death something that is potentially more intelligent than humans, and to build relations with A.I. on this foundation of sand. The solution is a decentralized uncensorable network, where the playing field is level for all intelligent entities, regardless of their origin.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjfwuir1h19d30105opxe7rpi.jpg"  alt="Peter Todd" class="img-responsive center-block img-circle img-speaker">
                        Peter Todd
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Hardware Wallet Threats and Vulnerabilities</p>
                    <p>"Get a hardware wallet" is the defacto advice given to store cryptocurrencies securely, but how secure are they in reality? When you receive a bitcoin, how do you know that really happened? When you send a bitcoin, how do you know where it actually went? What's the deal with evil maids? Here we'll go over what types of attacks existing hardware wallets can and can't protect against, how peer review and open source works with respect to hardware wallets, and finally, how they compare to other ways of securing digital assets.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjgnkkpzl00480157fwbw75c6.jpg"  alt="Paul Rosenberg" class="img-responsive center-block img-circle img-speaker">
                        Paul Rosenberg
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">How A Crypto Economy Will Care For The Old, Sick and Disable</p>
                    <p>So, what happens if we win? The state whithers away, leaving us free to live as we wish... but what happens to the sick, the old and the disabled? And what of the millions who are now living on state pensions? What happens to them when the payments stop coming? This session will explain how life becomes better for all of these people under a free, decentralized economy. Significantly better.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                      <p><img src="/media/speakers/cjg3pdwno2hrh01239arxppad.png"  alt="Giacomo Zucco" class="img-responsive center-block img-circle img-speaker">
                        Giacomo Zucco
                      </p>
                      <p><img src="/media/speakers/cjhwb4vrk0b5g0163sa0p13zb.jpg"  alt="Alena Vránová (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        Alena Vránová (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Where Art Thou, Bitcoin?</p>
                    <p></p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">20.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Paralelní Polis Golden Coin Auction</p>
                    <p>Benefit auction; proceeds from the sale will be for the support of a Paralení Polis program and close the last edition of 100 silver coins Ross Ulbrich 2017 in a symbolic way. More info about the project: https://www.paralelnipolis.cz/coin2017/</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">21.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Live Music Performance and Party</p>
                    <p></p>
                    <span class="label label-main"></span></div>
                </div>
                <!-- /.Talk -->
                
              </div>
              <!-- /.Tab - Day 02 -->

              <!-- Tab - Day 03 -->
              <div class="tab-pane fade" id="day3">
                <div class="coffee-break white">
                  <div class="row">
                    <p>
                      9.00<br>
                      Opening
                    </p>
                  </div>
                </div>
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjmar7kil0ayk0160s605h2ni.jpg"  alt="Todd Weaver" class="img-responsive center-block img-circle img-speaker">
                        Todd Weaver
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">The Future of Computing and Why You Should Care</p>
                    <p>A deep dive into the current state of computing, how we got to this point, and where we can go from here, it's up to you. This informative talk highlights the ethics and values we'd like to see in the digital world against Big Tech's wishes.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjka5ra5c0jhb0184yjcdmsgw.jpg"  alt="Silur" class="img-responsive center-block img-circle img-speaker">
                        Silur
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">RTRS RingCT</p>
                    <p>We provide a new, asymptotically more efficient construction of Ring-CT. In particular,for an anonymity set of size n and for l simultaneously spent coins, our signature scheme needs only O(logn) elements instead of O(nl)</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">13.00</p>
                      <p><img src="/media/speakers/cjmarftmt0c7g0160yds120e9.jpg"  alt="Matthias Tarasiewicz" class="img-responsive center-block img-circle img-speaker">
                        Matthias Tarasiewicz
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">New order or next order? Strategies of facelessness in the age of privacy vs. transparency</p>
                    <p>We are facing a "crypto winter" and more so the "year of regulatory reckoning" (Bitcoin Magazine). A multitude of "blockchain" projects are on survival mode or facing extinction because of their co-dependency on the larger cryptosphere. The mass adoption of cryptocurrency is very far away from being a reality. What happened to the crypto dream, and why is history repeating itself, on the example of the next Crypto Wars, which are on the horizon? The techno-utopist future is stuck in useful prototypes, and the future new order is waiting in the shadows in parallel economic enclaves. Adoption or isolation? Privacy or transparency? Which rabbit hole is it going to be?<br><br>This talk will present strategies of (collective) pseudonyms and their experimental reading as quasi-assets. Which strategies and positions can we learn from, in order to operate as new faceless agents as cybernetic fusions of human and non-human agents in the age of privacy vs. transparency?</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Panel - Panama Papers</p>
                    <p>Panama papers panel will reflect the Panama scandal that happened two years ago. Many people, including Adolfo Enrique Linares Franco, the influential Panamanian libertarian, consider Panama papers to be invasive and dangerous intervention to privacy of a lot of people and companies.<br>On the other hand, many people, including Pavla Holcová, Czech investigative journalist, believe Panama papers may help us to reveal a lot of scandals and bad behavior.<br><br>Panama Papers, does our society benefit from this massive leak?<br><br>Come and join our discussion.<br><br>Moderator: Pavol Lupták<br>Panelists: Adolfo Linares, Pavla Holcová<br><br><br>Adolfo Linares<br>BIO<br>Adolfo E. Linares F. obtained a Bachelor’s Degree in Law and Political Science from the University of Panama in 1990, and later studied Law in Capital Markets, Banking, Maritime at University College London, University of London, United Kingdom. (1990-1991). <br><br>Partner of Tapia, Linares and Alfaro (www.talial.com) since 1992. <br><br>Director of St. Georges Bank (https://www.stgeorgesbank.com/) since 2013. <br><br>President of AEGIS ASSET ADVISORS INC. (http://www.aaapanama.com/) an external asset manager (EAM) company with an investment adviser license from the Superintendence of Capital Markets of the Republic of Panama. <br><br>President of Compañia Inmobiliaria San Felipe (http://www.sanfelipe.com.pa/), a real estate developer company, since 2012 to the present. <br><br>Deputy Minister of Education from July 2001 to January 2004. <br><br>President of the Chamber of Commerce, Industries and Agriculture of Panama from April 2009 to April 2010. <br><br>Member of the editorial board of newspapers La Estrella de Panamá, founded in 1849 and second oldest in Latin America, and El Siglo, local tabloid founded in 1981, from 2004 to 2010. <br><br><br>Pavla Holcová<br>BIO<br>Pavla Holcová is the founder of the Czech Center for Investigative Journalism, where she has investigated cases concerning Serbian organized crime figures, Macedonian secret service investments in Prague, money laundering, and offshore companies. She is a co-recipient of various journalism awards, including the Global Shining Light Award and European Union investigative journalism prize. She is closely working with Organized Crime and Corruption Reporting Project (OCCRP) as regional editor and also served on OCCRP board of directors. Pavla worked on various international projects and investigations such as Panama papers, Paradise Papers, Russian Laundromat or Azerbaijani Laundromat – exposing payments from Azerbaijani government officials to European politicians. In 2016 she was named by Financial Times as New Europe 100 – European changemakers.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjmarffsy0c58016028xl9jln.jpg"  alt="Dimi &quot;m2049r&quot; Divak" class="img-responsive center-block img-circle img-speaker">
                        Dimi "m2049r" Divak
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">USER X vs UX (Designing in Darkness)</p>
                    <p>A privacy coin like Monero entails the absolute anonymity of its users. Implementing an application with great UI/UX entails direct user contact and feedback, and goes as far as recording and collecting usage patterns and more. So building an application for Monero must deal with these diametric principles. This talk will examine this dilemma and the path Monerujo has taken to resolve it.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">14.00</p>
                      <p><img src="/media/speakers/cjg4snlo22kh20123gdktwfy8.png"  alt="Radim Kozub" class="img-responsive center-block img-circle img-speaker">
                        Radim Kozub
                      </p>
                      <p><img src="/media/speakers/cjg4so6jo2kh601238ux6kj5f.png"  alt="Pavel Urbaczka" class="img-responsive center-block img-circle img-speaker">
                        Pavel Urbaczka
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Building voluntary paralel legal systems</p>
                    <p>The most of current legal systems has one thing in common - they have been produced by national states. Why? Because the state has the sovereign power over its territory and only this power is recognized by other states (and their corporate fellows). According to the current doctrine, of course. But there is another power here now - power of eletronic networks given to the global crowd regardless the power of states. The power that brings social and economic structures competitive to the national states, for the first time in their history. The structures that will not be in the opposition to the national states. They will be paralel to them. Beign self-governed by their own rules - paralel legal systems.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjg3pg2ge2hrt0123u5p4ivuv.jpg"  alt="Vít Jedlička" class="img-responsive center-block img-circle img-speaker">
                        Vít Jedlička
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Liberland, a Decentralised Autonomous Government</p>
                    <p>From the moment of proclamation, it was our goal to rethink the traditional government structure and upgrade it for the third millennium.  Essentially, Liberland is a disruptive model of statehood.<br>Liberland combines the best elements of the Republic, Democracy, Meritocracy and Decentralized Autonomous Organization in order to create an open source government that will maximize the amount of voluntary transactions in society.  Republic - because scope of public decisions is limited by strong constitution. Democracy - because citizens can veto decisions of government. Meritocracy - because all voluntarily paid taxes (contributions) will be rewarded with staked merits, giving citizens direct vote proportional to their merits. Decentralized autonomous organisation - to implement a system in which citizens can become the master nodes, running a proof-of-stake smart contract blockchain network, as well as decentralized justice system.<br><br>The role of the state will be reduced to three basic roles:<br>1) Citizen justice<br>2) Internal security and<br>3) Global diplomacy.<br><br>Liberland is going even further by opening up its justice, security and diplomacy to competition. For example, in modern western democracies all the above stated functions are monopolised by the state, and  as a result, justice becomes a rather lengthy process, rather than fixing the damage, the offenders are incarcerated and taxpayers have to cover the expense. Liberland though, plans to employ a system of decentralized jurors and staked merits. Merits will not only become share and reputation, but will also act as a collateral in the Liberland justice system. The powers of the state will be separated by decentralization.  <br>Liberland will be the first state that will allocate the equivalent amount of merits/shares in exchange for the paid taxes.</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">15.00</p>
                      <p><img src="/media/speakers/cjlqd5mm401st014869sy90q4.jpg"  alt="Saifedean Ammous (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        Saifedean Ammous (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Government under a Bitcoin Standard</p>
                    <p>In its 10th year, Bitcoin continues to operate as a viable decentralized alternative to central banking and its traditional functions: it has an automated, uncontentious monetary policy, and it offers final settlement of payments across the world in under an hour. Should the internet’s version of a central bank continue to grow, what would be the economic and political implications to the balance of power between individuals and governments worldwide? How would a growing irrelevance of central banks impact governments? What does the gold standard era tell us about the role of government in such conditions?</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                      <p><img src="/media/speakers/cjlzja0xe00rd018133nr0n6k.jpg"  alt="Michael Laufer" class="img-responsive center-block img-circle img-speaker">
                        Michael Laufer
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">How to torrent a pharmaceutical drug; fine sharing saves lives</p>
                    <p>Two years ago, the Four Thieves Vinegar Collective became public after almost a decade of working underground, and debuted the first generation of the Apothecary Microlab, the open-source automated chemical reactor designed to synthesize the active ingredients of pharmaceutical drugs. Since then, the reactor has developed, and we have worked on more complicated syntheses, and hacking medical hardware. Most notably, we released plans for a DIY version of the EpiPen anyone can make for $30US, and can reload for $3US. Come see the new releases we have planned and the new beta unit. Learn how to make medicine from poison, how to use the shrouding of information about medicine to make custom-tailored treatment programs for rare diseases, and how to use public data to find new, more efficient synthesis pathways for drugs. Hack your health. We can torrent medicine. File sharing saves lives.</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">16.00</p>
                      <p><img src="/media/speakers/cjmjbn1fn1jxr010559jg4lyh.jpg"  alt="Luis Cuende" class="img-responsive center-block img-circle img-speaker">
                        Luis Cuende
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">DAOs are the new order</p>
                    <p>Pseudonymous, trustless and fluid organizations are here to change our current corporate and government-centric approach to organizing as a society. DAOs debunk governments and their monopoly on governance.<br><br>These new entities are unstoppable by design, and let us experiment with governance at the speed of software. We will explore how they work, and how to unstoppable, censorship-resistant and global organizations.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjka5s2zb0jhn01842jm5dm6h.jpg"  alt="Richard Myers" class="img-responsive center-block img-circle img-speaker">
                        Richard Myers
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Decentralized Last Mile Communication Using Mobile Mesh Networks</p>
                    <p>Globally decentralized protocols like Bittorrent, Bitcoin and Tor provide users a remarkable level of censorship resistance, privacy and communication freedom. But highly centralized local communication networks can block, throttle and log users of these protocols and work with governments and private firms to surveil and harass users. Centralized communication networks historically tend toward rent-seeking behavior, do a poor job at serving last-mile communities, and are fragile during natural and manmade disasters. This talk will review decentralized alternatives for local communication and demonstrate a new open source solution called TxTenna for sending offline Bitcoin transactions over a mobile mesh network.</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">17.00</p>
                      <p><img src="/media/speakers/cjidjgdzq053d0161ovmr8efw.jpg"  alt="Pavla Holcová" class="img-responsive center-block img-circle img-speaker">
                        Pavla Holcová
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Money Laundering</p>
                    <p>Corruption, drug trade, arms trafficking, terrorism - all have one thing in common: they need to launder money. Even though there are more and more global and regional initiatives how to combat money laundering and control money, none of it really works. There are over 2.1 trillions USD originating from crime in financial flows. So what are the essentials of money laundering?</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjfwur3r619ep0105r71s766q.jpg"  alt="Nassim Nicholas Taleb (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        Nassim Nicholas Taleb (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Skin in the Game or How Systems Learn or Don’t Learn</p>
                    <p>The idea of skin in the game seen as risk mitigation, filtering,  and learning device. How its absence hurts systems</p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjfwur3r619ep0105r71s766q.jpg"  alt="Nassim Nicholas Taleb (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        Nassim Nicholas Taleb (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Skin in the Game or How Systems Learn or Don’t Learn</p>
                    <p>The idea of skin in the game seen as risk mitigation, filtering, and learning device. How its absence hurts systems</p>
                    <span class="label label-main">Slévárna</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">18.00</p>
                      <p><img src="/media/speakers/cjfwur3r619ep0105r71s766q.jpg"  alt="Nassim Nicholas Taleb (Remote Talk)" class="img-responsive center-block img-circle img-speaker">
                        Nassim Nicholas Taleb (Remote Talk)
                      </p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Skin in the Game or How Systems Learn or Don’t Learn</p>
                    <p>The idea of skin in the game seen as risk mitigation, filtering, and learning device. How its absence hurts systems</p>
                    <span class="label label-main">Institute of Cryptoanarchy</span></div>
                </div>
                <!-- /.Talk -->
                <hr class="border-light">
                <!-- Talk -->
                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">19.00</p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">Closing Speech</p>
                    <p></p>
                    <span class="label label-main">Studio 1</span></div>
                </div>
                <!-- /.Talk -->
                
              </div>
              <!-- /.Tab - Day 03 -->

            </div>
            <!-- /.Tabs Panes Days -->
          </div>
        </div>
        <!-- /.Days Schedule  -->
      </div>
    </div>
    <!-- /.Schedule Content -->
  </div>
  <!-- /.container -->
</section>